body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:52px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:408px;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
}
#u2 {
  position:absolute;
  left:17px;
  top:3px;
  width:45px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:176px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:0px;
  top:52px;
  width:206px;
  height:176px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:2px;
  top:77px;
  width:202px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:0px;
  top:228px;
  width:206px;
  height:176px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:2px;
  top:77px;
  width:202px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:176px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:206px;
  top:52px;
  width:206px;
  height:176px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:77px;
  width:202px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:176px;
  background:inherit;
  background-color:rgba(51, 204, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:206px;
  top:228px;
  width:206px;
  height:176px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:2px;
  top:77px;
  width:202px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:0px;
  top:404px;
  width:206px;
  height:176px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:2px;
  top:66px;
  width:202px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:176px;
  background:inherit;
  background-color:rgba(102, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:206px;
  top:404px;
  width:206px;
  height:176px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:2px;
  top:77px;
  width:202px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.737254901960784);
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:0px;
  top:580px;
  width:412px;
  height:48px;
}
#u17 {
  position:absolute;
  left:2px;
  top:16px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
